#
##### requirements.txt ######
#
##### Requirements without Version Specifiers #####
pytest
numpy
coveralls
pytest-cov
pandas
h5py
scipy
osbrain
plotly
platypus-opt
pymop
scikit-learn
matplotlib
scikit-optimize
#