#
##### requirements.txt ######
#
##### Requirements without Version Specifiers #####
pytest
numpy
coveralls
pytest-cov
pandas
h5py
scipy
osbrain
plotly
platypus-opt
pymop
sklearn==0.22.1
matplotlib
scikit-optimize
#