#
##### requirements.txt ######
#
##### Requirements without Version Specifiers #####
pytest
numpy
coveralls
pandas
h5py
scipy
osbrain
plotly
platypus-opt
pymop
scikit-learn==0.22.1
scikit-optimize==0.7.1
matplotlib
#